extends ../layout

block content
    
  div(id='sessionApp').row.justify-content-md-center
    div.col-lg-8
      
      div(class='jumbotron' v-if='info')
        h1(class='display-4') {{ info.session_name }}
        p(class='lead') {{ info.session_description }}
        hr(class='my-4')
        i(class='far fa-user') 
        |  {{ info.host_name }}
        br
        br
        i(class='far fas fa-id-card')
        |  {{ info.host_contact_info }}
        br
        br
        i(class='fas fa-angle-double-right')
        |  Session ID: {{ info.session_id }}
        
      h1 Questions
      
      div(v-if='isSession')
        p Submit your questions below:
        form
          .form-group
            textarea(v-model='questionText')#questionText.form-control(rows='3')
          button.btn.btn-secondary(type='button', v-on:click='submitQuestion()') Submit Question
      div(v-if='!isSession' class='alert alert-primary mt-3' role='alert') Session has been ended by the host on {{ info.end_date_time }}
      
      p(class='mt-4') Questions asked by audience members will be displayed below
      div(class='card mt-3' v-for='question in questions')
        div(class='card-body') {{ question.question_text }}
          span(class='badge badge-secondary ml-3') {{ question.upvotes }}
          button(type='submit' class='btn btn-secondary float-right ml-3' v-on:click='updateVotes(question.question_id, -1), loadQuestions()')
            i(class="fas fa-arrow-alt-circle-down") 
          button(type='submit' class='btn btn-secondary float-right' v-on:click='updateVotes(question.question_id, +1), loadQuestions()')
            i(class="fas fa-arrow-alt-circle-up")

  script(src='/javascripts/session.js')
