extends ../layout

block content
    
  div(id='dashboardApp').row.justify-content-md-center
    div.col-lg-8
      h1 Dashboard
      if (user)
        - var username = `${ user.username }`
        p.lead.text-muted(ref='user' username=username) View past sessions started by #{ user.username }
      // Placeholder
      div(class='card mt-3' v-for='session in sessions')
        div(class='card-header') {{ session.session_name }}
        div(class='card-body') {{ session.session_description }}
          button(type='submit' class='btn btn-secondary float-right ml-3')
            i(class="fas fa-arrow-alt-circle-right")
      
  script(src='/javascripts/dashboard.js')
