extends ../layout

block content
    
  div(id='sessionApp').row.justify-content-md-center
    div.col-lg-8
      
      h1 Questions
      p Questions asked by audience members will be displayed below
      
      h3 New Questions
      div(class='card mb-3' v-for='question in questions')
        div(class='card-body') {{ question.question_text }}
          button(type='submit' class='btn btn-primary float-right' v-on:click='updateQuestion(question.question_id, question.is_answered)')
            i(class="fas fa-check-circle")

      h3 Answered
      div(class='card mb-3' v-for='question in questions')
        div(class='card-body') {{ question.question_text }}
          button(type='submit' class='btn btn-primary float-right' v-on:click='updateQuestion(question.question_id, question.is_answered)')
            i(class="fas fa-check-circle")

      // router-link(to='/foo')
      // router-view

  script(src='/javascripts/session.js')
