extends ../layout

block content
    
  div(id='sessionApp').row.justify-content-md-center
    div.col-lg-8
      
      h1 Questions
      p Questions asked by audience members will be displayed below
      div(class='alert alert-primary' role='alert' v-if='!isSession') Session has been ended by the host on {{ info.end_date_time }}
      button(type='submit' class='btn btn-danger mb-3' v-if='isSession' v-on:click='endSession(), loadSession()') End Session
      
      h3 New Questions
      div(class='card mb-3' v-for='question in questions' v-if='!question.is_answered')
        div(class='card-body') {{ question.question_text }}
          button(type='submit' class='btn btn-primary float-right' v-on:click='updateQuestion(question.question_id, question.is_answered), getQuestions()')
            i(class='fas fa-circle')

      h3 Answered
      div(class='card mb-3' v-for='question in questions' v-if='question.is_answered')
        div(class='card-body') {{ question.question_text }}
          button(type='submit' class='btn btn-secondary float-right' v-on:click='updateQuestion(question.question_id, question.is_answered), getQuestions()')
            i(class="fas fa-check-circle")

      // router-link(to='/foo')
      // router-view

  script(src='/javascripts/session/presenter.js')
