extends layout

block content
    
  .starter-template
    h1.display-3.mt-5 Raise It!
    p.lead.text-muted Easily ask questions during presentations.
    button.btn.btn-lg.btn-primary.m-3(type='submit', onclick="location.href = '/session/start';") Start
    button.btn.btn-lg.btn-primary.m-3(type='submit', onclick="location.href = '/session/join';") Join

  //- if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  //- if (user)
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout
