extends layout

block content
    
  div(id='sessionApp').row.justify-content-md-center
    div.col-lg-8
      
      div(class='jumbotron')
        h1(class='display-4') {{ info.session_name }}
        p(class='lead') {{ info.session_description }}
        hr(class='my-4')
        i(class='far fa-user') 
        |  {{ info.host_name }}
        br
        br
        i(class='far fas fa-id-card')
        |  {{ info.host_contact_info }}
      
      div(class='card')
        ul(class='list-group list-group-flush')
          li(class='list-group-item' v-for='question in questions') {{ question.question_text }}
          
  script(src='/javascripts/session.js')
