extends layout

block content
    
  div(id='sessionApp').row.justify-content-md-center
    div.col-lg-8
      h1 Session
      p.lead.text-muted Session ID: #{ session_id }
      
      div(class='card')
        ul(class='list-group list-group-flush')
          li(class='list-group-item' v-for='question in questions') {{ question.question_text }}
          
  script(src='/javascripts/session.js')
