extends layout

block content
    
  div(id='sessionApp').row.justify-content-md-center
    div.col-lg-8
      
      div(class='jumbotron')
        h1(class='display-4') {{ info.session_name }}
        p(class='lead') {{ info.session_description }}
        hr(class='my-4')
        i(class='far fa-user') 
        |  {{ info.host_name }}
        br
        br
        i(class='far fas fa-id-card')
        |  {{ info.host_contact_info }}
        br
        br
        i(class='fas fa-angle-double-right')
        |  Session ID: {{ info.session_id }}
        
      h1 Questions
      p Questions asked by audience members will be displayed below
      div(class='card mt-3' v-for='question in questions')
        div(class='card-body') {{ question.question_text }}  

  script(src='/javascripts/session.js')
